#incomeHeader{
    background-color:aliceblue;
    border:2px solid black;
    width: 400px;
    height: 400px;
    text-align: center;
    align-self: center;
    margin-top: 15px;
    
}

#expNameInput{
    margin-top: 25px;
}