#expenseHeader{
    background-color:aliceblue;
    border:2px solid black;
    width: 400px;
    padding: 20px;
    text-align: center;
    align-self: center;
    margin-top: 15px;
    
}
#edit_expense_page {
    padding: 20px;
}

#noRadio{
    margin-left:15px;

}

.radioOptions{
    font-size: medium;
}